name: Python package

on:
  pull_request:
  push:
    branches: [main]
  schedule:
  - cron: '0 2 * * *'   # run at 2 AM UTC

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: pre-commit/action@v3.0.0
    - name: Load from cache if no dependencies have changed
      id: pip-cache
      uses: actions/cache@v3
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}-${{ hashFiles('requirements-dev.txt') }}-gt4py-b39a0f0b85038592e3fccabde56137bb9c60e231
    - name: Install dependencies
      if: steps.pip-cache.outputs.cache-hit != 'true'
      run: |
        sudo apt install openmpi-bin libopenmpi-dev
        python -m pip install --upgrade pip wheel setuptools
        pip install git+https://github.com/GridTools/gt4py.git@b39a0f0b85038592e3fccabde56137bb9c60e231#egg=gt4py
        pip install -r requirements-dev.txt
    - name: Install Python package
      run: |
        pip install -e "./[plot]"
    - name: Test with pytest
      run: |
        pytest --cov=shallow_water tests/
